<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>flask-contact-form-app</title>
    <style>
      nav a {
        color: blue;
        font-size: 3em;
        margin-left: 80px;
        text-decoration: none;
        align-items: space-between;
      }
      .content {
        text-align: center;
        margin-top: 50px;
        color: pink !important;
        font-size: 5rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <!-- <h1>home</h1> -->
      <a href="#">home</a>
      <a href="#">Contact Us</a>
      <a href="#">About Us</a>
      <a href="#">our services </a>
    </nav>
    <hr />
    <div class="content">welcome to home page</div>
  </body>
</html>
