<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>flask-contact-form-app</title>
    <style>
      nav a {
        color: blue;
        font-size: 3em;
        margin-left: 80px;
        text-decoration: none;
        align-items: space-between;
      }
      .content {
        text-align: center;
        margin-top: 50px;
        color: pink !important;
        font-size: 5rem;
      }
      @media screen and (max-width: 1103px) {
        nav a {
          display: flex;
          flex-direction: row;
          font-size: 20px;
        }
      }
    </style>
  </head>
  <body>
    <nav>
      <!-- <h1>home</h1> -->
      <a href="#">home</a>
      <a href="{{ url_for('contact_bp.contact') }}">Contact Us</a>
      <a href="#">About Us</a>
      <a href="#">our services </a>
    </nav>
    <hr />
    <marquee class="content" direction="left"> welcome to home page</marquee>
  </body>
</html>
