<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <style>
      .alert {
        color: red;
        text-align: center;
      }
      h1 {
        text-align: center;
        color: blue;
      }
      h3 {
        text-align: center;
        color: blue;
      }
      form {
        padding: 20px;
        margin: 20px;
        background-color: #f3f3f3;
        text-align: center;
        margin-left: 14rem;
        width: 60%;
      }

      input {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Contact Us</h1>
    <h3>Fill the form to contact us</h3>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <form method="POST" action="{{ url_for('contact_bp.contact') }}">
      {{ form.hidden_tag() }}
      <div>
        {{ form.name.label }} {{ form.name(size=32) }} {% for error in
        form.name.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      <div>
        {{ form.email.label }} {{ form.email(size=32) }} {% for error in
        form.email.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      <div>
        {{ form.message.label }} {{ form.message(rows=6, cols=32) }} {% for
        error in form.message.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      <div>{{ form.submit }}</div>
      <a href="{{ url_for('home_bp.index') }}">back to home</a>
    </form>
  </body>
</html>
